/* You can add global styles to this file, and also import other style files */
.bg-light {
  background-color: #0d6efd !important;
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.container-main {
  padding-top: 10px;
}
